.container.show-page
  .row
    .col-lg-3
    .col-lg-4
      %h1= battle.name
      - battle.description.split("\r").each do |p|
        %p= p
      - if battle.current?
        %h1 participate
    .col-lg-5
